body {
    /*Couleur de fond, alignement du texte et police personnalisée*/
    background-color: black;
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
    font-family: "arial", sans-serif;

    /*image de fond du CV */
    background-image: url('https://img.freepik.com/photos-gratuite/fond-elegant-vide-espace-copie_24972-1807.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;

    /*Bordure et ombre*/
    border-right: black ;
    border-bottom: black ;
    border-left: black;
    border-top: black;
    /* remplacer par border-color: black */
    border-width: 2px;
    border-style: solid;

    box-shadow: 30px 30px 100px black;
}

/*Couleur et alignement du texte*/
ul {
    text-decoration: none;
    color: black;

}

h1 {
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    color: black;
    font-size: 2em;
}

h2 {
    color: black;
}

p {
    color: black;

}

footer {
    color: red;
}

