body {
    /*Couleur de fond, alignement du texte et police personnalisée*/
    background-color: black;
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Pacifico', sans-serif;

    /*image de fond du CV */
    background-image: url(https://img.freepik.com/photos-gratuite/vieux-fond-noir-texture-grunge-fond-ecran-sombre-tableau-noir-tableau-noir-mur-salle_1258-28312.jpg?auto=format&h=200);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;

    /*Bordure et ombre*/
    border-right: white;
    border-bottom: white;
    border-left: white;
    border-top: white;
    border-width: 10px;
    border-style: solid;

    box-shadow: 6px 6px 6px red;
}

/*Couleur et alignement du texte*/
ul {
    text-decoration: none;
    color: turquoise;
}

h1 {
    text-align: center;
    font-family: "pacifico", sans-serif;
    color: #ff0000;
    font-size: 2em;
}

h2 {
    font-family: "arial", sans-serif;
    color: silver;
}

p {
    color: white;
}

footer {
    color: green;
}

